/* HTML */
.body{
    background-color: #212F3C;
}

#h1Titulo{
    color: aliceblue;
}

#Loremm{
    color: aliceblue;
}

#h2Titulo{
    color: aliceblue;
}

#h6Titulo{
    color: aliceblue;
}

/* Quien Soy */
.containerQuienSoy{
    display: grid;
    place-self: center;
    margin-top: 20%;
}

.containerr{
    display: grid;
    place-items: center;
}

.tituloQuienSoy{
    display: grid;
    place-items: center;
}

.TextoQuienSoy{
    display: grid;
    place-items: center;
}

/* Sobre mi */

.containerMain{
    margin-top: 25%;
}

.tituloSobremi{
    display: grid;
    place-items: center;
}

.divSobreMiv1{
    display: flex;
    place-items: center;
}

.fotoPerfil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
}

.divResumen{
    margin-left: 20px;
}

.containerTools{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    /* place-items: center; */
}

.tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.tool-item img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .tool-item {
        width: calc(50% - 40px); 
    }
}

@media (max-width: 480px) {
    .tool-item {
        width: 100%;
    }
}

/* .frontend{
    width: 50%;
}

.backend{
    width: 50%;
}

.herramientas{
    width: 50%;
} */

